<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/assets/bible_logo.png">
    <link rel="stylesheet" href="/public/css/genTail.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <title>BibleBites</title>
</head>
<body>
    <%- include('../src/components/nav');%>
    <%- include('../src/components/content');%>
    <%- include('../src/components/contact');%>
    <%- include('../src/components/footer');%>
    <script src="/public/js/main.js"></script>
</body>
</html>