*  {
    transition: 0.5s all ease;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}

.scrolling {
    background: #3a3c96;
}

a {
    cursor: pointer;
}

.logo {
    width: 2.5rem;
    height: 2.5rem;
}

.up-move:hover {
    transform: translateY(-0.2rem);
}

.answer {
    display: none;
}

.answer.show {
    display: block;
}

.show-answer {
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .container { 
        width: 100%;
    }
}